.cours{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    background-color: transparent;
    border: 1px solid limegreen;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.coursName{
    color: white;
    font-size: 17px;
    display: flex;
    text-align: center;
}

